.home-section {

  &__developers {
    width: 100%;
    &.disabled {
      display: none;
    }
  }

  &__edit {
    width: 100%;
    &.disabled {
      display: none;
    }

  }
}

.section-title {
  text-align: center;
  font-size: 2.2rem;
  letter-spacing: $spacing;
  text-transform: uppercase;
  padding: 20px 30px;
  margin: 20px -40px 0;
  background-color: $main-color;
  border-top: solid 2px $main-color;
  border-bottom: solid 2px $main-color;

  &__text {
    margin: 0 auto;
    width: 500px;
    border-top: solid 2px $sub-color;
    border-bottom: solid 2px $sub-color;
    color: #ffffff;
    font-weight: 700;
    padding: 10px 0;
  }
}

.developers-list {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 50px 0 0;

  &__item {
    flex-basis: 22%;
  }
}

.profile {
  height: 550px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 4px 4px 36px -10px rgba(34, 60, 80, 0.23);
  position: relative;
  overflow: hidden;
  user-select: none;
  margin: 30px 0 60px;

  &.active {
    overflow: visible;

    .profile__img {
      width: 180px;
      height: 180px;
      position: relative;
      top: -70px;
      border-radius: 50%;
      margin-bottom: -50px;
    }

    .profile__info {
      opacity: 1;
    }
  }


  &_empty {
    background-color: rgba(229, 229, 229, 0.45);
    animation: emptyBlock 4s infinite;
  }

  &__img {
    width: 100%;
    height: 77%;
    top: 0;
    background-size: cover;
    background-position: 50% 50%;
    transition: all 0.3s, margin-bottom 0s;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
  }

  &__name {
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
    margin: 0 0 15px;
    background-color: $main-color;
    padding: 10px 0;
    color: white;

  }

  &__position {
    color: #b9b9b9;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: $spacing;
    display: block;
    margin-bottom: 10px;
  }

  &__info {
    opacity: 0;
    transition: all 0.1s;
    pointer-events: none;
    position: relative;
    z-index: 1;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}

.stats-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
  justify-content: center;
  margin-bottom: 15px;
  width: 70%;

  &__item {
    flex-basis: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 1.2rem;
  }
}

.stat {
  &__text {
    font-weight: 600;
  }
}

.hobby {
  padding: 0 15px;
  &__title {
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: $spacing;
    font-weight: 700;
    margin-bottom: 10px;
    color: $main-color;
  }

  &__text {
    text-align: left;
    font-size: 1.1rem;
  }
}

.info-buttons {

  &__more {
    @include button;
    margin: 0;
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    padding: 5px 10px;
    background-color: $main-color;
    border: solid 2px $main-color;
    min-width: 120px;

    &:hover {
      background-color: transparent;
      color: $main-color;
    }
  }

  &__edit {
    position: absolute;
    top: 2%;
    right: 2%;
    z-index: 1;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    color: #b9b9b9;
    letter-spacing: 2px;
    transition: all 0.3s;
    cursor: pointer;
    display: none;

    &:hover {
      color: #969696;
    }

    &.active {
      display: block;
    }
  }
}

.edit-window {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 40px 0;

  &__column {
    flex-basis: 33%;

    &_big {
      flex-basis: 100%;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  &__label {
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 15px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;

    &-big {
      flex-basis: 100%;
    }
  }

  &__img {
    margin: 0 auto 20px;
    width: 100%;
    height: 350px;
    transition: all 0.3s;
    background-size: cover;
    background-position: 50% 50%;
    box-shadow: 4px 4px 36px -10px rgba(34, 60, 80, 0.23);
    position: relative;

    &-button {
      width: 100%;
      text-align: center;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 100%;
      font-size: 1.5rem;
      padding: 15px 0;
      background-color: rgba(123, 158, 135, 0.55);
      color: rgba(255, 255, 255, 0.65);
      text-transform: uppercase;
      letter-spacing: $spacing;
      transition: all 0.3s;
      cursor: pointer;

      &:hover {
        background-color: $main-color;
        color: #ffffff;
      }
    }
  }

  &__input {
    margin-top: 10px;
    height: 30px;
    border: solid 1px #1d1d1d;
    padding: 2px;
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-size: 1.2rem;


    &_big {
      text-align: left;
      height: 80px;
      width: 33%;
      resize: none;
      color: #000000;
    }

    &_hidden {
      display: none;
    }
  }
}

.edit-buttons {
  display: flex;
  justify-content: center;

  &__button {
    @include button;
    margin: 0 20px;
    font-size: 1.5rem;
  }

  &__submit {
    background-color: $main-color;
    border: 2px solid $main-color;

    &:hover {
      background-color: transparent;
      color: $main-color;
    }
  }

  &__cancel {
    background-color: #e16363;
    border: 2px solid #e16363;

    &:hover {
      background-color: transparent;
      color: #e16363;
    }
  }
}
