$mainColor: #7B9E87;
$spacing: 5px;
$subColor: #B6BE9C;

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

body {
  background-color: #eff8f3;
}

a {
  text-decoration: none;
  color: #000000;
}

.content-section {
  padding: 20px;
  height: 100%;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.content {
  width: 100%;
  box-shadow: 4px 4px 36px -10px rgba(34, 60, 80, 0.23);
  background-color: #ffffff;
  height: 100vh;
  overflow: hidden;
  padding: 20px;
}

.header {
  background-color: $mainColor;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: -20px -20px 0 -20px;
}

.navigation {
  flex-basis: 40%;

  .navigation-list {
    display: flex;
    justify-content: space-around;

    &__link {
      text-decoration: none;
      color: #ffffff;
      font-size: 20px;
      font-weight: 300;
      letter-spacing: 5px;
      text-transform: uppercase;
      transition: all 0.2s;

      &:hover {
        color: #bead3c;
      }
    }
  }
}

.logo {

  &:hover &__text {
    color: #bead3c;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
  }


  &__img-wrapper {
    background-color: #B6BE9C;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 10px;
  }

  &__img {
    width: 80px;
  }

  &__text {
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 3px;
    color: #ffffff;
    transition: all 0.3s;
  }
}

.home-section {
  display: flex;
  align-items: center;
  justify-content: center;

  .developers-list {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    &__item {
      flex-basis: 30%;
      margin-top: -80px;
    }
  }
}

.profile {
  height: 100%;
  text-align: center;
  border-radius: 20px;
  box-shadow: 4px 4px 36px -10px rgba(34, 60, 80, 0.23);
  position: relative;
  overflow: hidden;

  &.active {
    overflow: visible;

    .profile__img {
      width: 200px;
      height: 200px;
      position: relative;
      top: -50px;
      border-radius: 50%;
      margin-bottom: -30px;
    }

    .profile__info {
      opacity: 1;
    }
  }

  &__img {
    height: 82%;
    background-size: cover;
    background-position: 50% 50%;
    transition: all 0.5s;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: 0 auto 10px;
    position: relative;
    z-index: 2;
  }

  &__name {
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
    margin-bottom: 10px;
    color: $mainColor;
  }

  &__position {
    color: #b9b9b9;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: $spacing;
    display: block;
    margin-bottom: 15px;
  }

  &__info {
    opacity: 0;
    transition: all 1s;
    pointer-events: none;
    position: relative;
    z-index: 1;
  }
}

.stats-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
  justify-content: center;
  &__item {
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    font-size: 1.2rem;
  }
}

.stat {
  &__text {
    font-weight: 600;
  }
}

.hobby {
  padding: 0 15px;
  &__title {
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: $spacing;
    font-weight: 700;
    margin-bottom: 15px;
    color: $mainColor;
  }

  &__text {
    text-align: left;
    font-size: 1.1rem;
  }
}

.info-buttons {
  &__more {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    padding: 5px 10px;
    text-transform: uppercase;
    background-color: $mainColor;
    border: solid 2px $mainColor;
    color: #ffffff;
    letter-spacing: 2px;
    transition: all 0.3s;
    cursor: pointer;
    min-width: 120px;

    &:hover {
      background-color: transparent;
      color: $mainColor;
    }
  }

  &__edit {
    position: absolute;
    top: 2%;
    right: 2%;
    z-index: 1;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    color: #b9b9b9;
    letter-spacing: 2px;
    transition: all 0.3s;
    cursor: pointer;

    &:hover {
      color: #969696;
    }
  }
}



