@keyframes emptyBlock {
  0% {
    background-color: rgba(229, 229, 229, 0.45);
  }
  50% {
    background-color: rgba(176, 170, 170, 0.45);
  }
  100% {
    background-color: rgba(229, 229, 229, 0.45);
  }
}

@keyframes text {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}