.element--href {
  text-decoration: none;
}

.wrapper {
  margin-top: 30px;
  padding: 10px;
  height: 79%;

  &__filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;

    &--select {
      display: flex;
      width: 80%;
    }
  }

  &__select {
    margin-right: 20px;
    margin-left: 0;
  }

  &__text-block {
    margin: 10px;
    overflow: auto;
    height: inherit;
    padding: 0 20px;

    &--item {
      //height: fit-content;
      min-height: 100px;
      padding: 10px;
      margin: 25px 5px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      box-shadow: 4px 4px 36px -10px rgba(34, 60, 80, 0.33);
      border-radius: 10px;
      transition: background-color 0.3s;

      &:hover {
        background-color: $sub-color;
      }
    }

    &--right {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
    }

    &--top {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: flex-start;
    }

    &--bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #888888;
      user-select: none;
    }

    &--delete {
      float: right;
      font-size: 24px;
      font-weight: 700;
      line-height: 1;
      color: $main-color;
      text-shadow: 0 1px 0 #fff;
      opacity: 0.5;
      cursor: pointer;


      &:hover {
        color: $dark-main-color;
      }
    }

    &--text {
      margin: 0;
    }

  }

  &__href {
    margin-right: 10px;
    font-size: 3rem;
    color: $main-color;

    &:hover {
      color: $dark-main-color;
    }

    &:link {
      color: $light-main-color;
    }
  }

}

.height-180px {
  height: 180px;
}

.delete {
  &__disabled {
    display: none;
  }

  .wrapper__text-block--item:hover &__disabled {
    display: block;
  }
}

.coming-soon {
  text-align: center;
}

.record-text {
  &__question {
    margin: 0;
    padding: 10px 10px;

    &__full {
      display: none;
    }

    &__part {
      display: block;
    }

    .wrapper__text-block--left:hover &__full {
      display: block;
    }

    .wrapper__text-block--left:hover &__part {
      display: none;
    }
  }

  &__theme {
    margin: 0;
    padding: 15px 10px;

  }

  &__answer {
    margin: 0;
    padding: 5px 10px;
  }
}


/*Модальное окно*/
.modal {
  position: fixed;
  /* фиксированное положение */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  /* цвет фона */
  z-index: 1050;
  opacity: 0;
  /* по умолчанию модальное окно прозрачно */
  transition: opacity 600ms ease-in;
  /* анимация перехода */
  pointer-events: none;
  /* элемент невидим для событий мыши */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-family: "Roboto", sans-serif;

  &:target {
    opacity: 1;
    /* делаем окно видимым */
    pointer-events: auto;
    /* элемент видим для событий мыши */
    overflow-y: auto;
    /* добавляем прокрутку по y, когда элемент не помещается на страницу */
  }

  &__dialog {
    position: relative;
    width: 500px;
    margin: 10px;
  }


  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    background-clip: padding-box;
    outline: 0;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: $main-color;
    color: #ffffff;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.25rem;
    font-weight: 500;
  }

  &__body {
    position: relative;
    flex: 1 1 auto;
    padding: 15px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &--answer, &--format, &--input {
      margin-top: 5px;
      margin-bottom: 5px;
    }

    &--answer {
      display: flex;
      justify-content: space-around;
      width: 70%;
    }

    &--button {
      display: flex;
      justify-content: center;
      width: 80%;
      margin: 10px;
    }

  }


  &__select {
    width: 80%;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  &__input--text {
    width: 80%;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  /* свойства для кнопки "Закрыть" */
  &__close {
    float: right;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.5;
    text-decoration: none;
    cursor: pointer;
    /* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
  }

  &__close:focus, .close:hover {
    color: #000;
    text-decoration: none;
    opacity: 0.75;
  }
}

.input-custom {

  width: 80%;

  &__item {
    width: 100%; /* от ширины блока div */
    padding: .75rem 2.5rem .75rem 1rem; /* отступы от текста до рамки */
    background: none; /* убираем фон */
    border: 2px solid $main-color; /* рамка */
    border-radius: 3px; /* скругление полей формы */
    font-family: inherit; /* наследует от родителя */
    font-size: 1rem;
    color: #444;

    &:focus-visible {
      outline-color: $dark-main-color;
    }
  }
}

.select-custom {
  position: relative;
  width: 80%;

  &__item {
    display: block;
    width: 100%; /* от ширины блока div */
    padding: .75rem 2.5rem .75rem 1rem; /* отступы от текста до рамки */
    background: none; /* убираем фон */
    border: 2px solid $main-color; /* рамка */
    border-radius: 3px; /* скругление полей формы */
    appearance: none; /* убираем дефолнтные стрелочки */
    font-family: inherit; /* наследует от родителя */
    font-size: 1rem;
    color: #444;

    &:focus-visible {
      outline-color: $dark-main-color;
    }
  }

  &:after {
    content: "";
    display: block;
    border-style: solid;
    border-width: 6px 5px 0 5px;
    border-color: $main-color transparent transparent transparent;
    pointer-events: none;
    position: absolute;
    top: 50%;
    right: 1rem;
    z-index: 1;
    margin-top: -3px;
  }
}

.button-custom {

  .button-custom {

    &__item {
      @include button;
      padding: 10px 50px;
      margin: 0 10px;

      &:hover {
        background-color: transparent;
        color: $main-color;
      }

      &:first-child {
        background-color: #e16363;
        border: 2px solid #e16363;

        &:hover {
          background-color: transparent;
          color: #e16363;
        }
      }

      &--disabled {
        background-color: $dark-main-color;
        border: 2px solid $dark-main-color;
        color: #ffffff;
        cursor: default;

        &:hover {
          background-color: $dark-main-color;
          border: 2px solid $dark-main-color;
          color: #ffffff;
        }
      }
    }

  }

}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;

  & + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }

  & + label::before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }

  &:checked + label::before {
    border-color: $main-color;
    background-color: $main-color;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  }


  /* стили при наведении курсора на checkbox */
  &:not(:disabled):not(:checked) + label:hover::before {
    border-color: $light-main-color;
  }

  /* стили для активного состояния чекбокса (при нажатии на него) */
  &:not(:disabled):active + label::before {
    background-color: $light-main-color;
    border-color: $light-main-color;
  }

  /* стили для чекбокса, находящегося в фокусе */
  &:focus + label::before {
    box-shadow: 0 0 0 0.2rem $transparent-main-color;
  }

  /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
  &:focus:not(:checked) + label::before {
    border-color: $main-color;
  }

  /* стили для чекбокса, находящегося в состоянии disabled */
  &:disabled + label::before {
    background-color: #e9ecef;
  }
}


/* для элемента input c type="radio" */
.custom-radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
  /* для элемента label связанного с .custom-radio */
  & + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }

  /* создание в label псевдоэлемента  before со следующими стилями */
  & + label::before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 50%;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }

  /* стили при наведении курсора на радио */
  &:not(:disabled):not(:checked) + label:hover::before {
    border-color: $light-main-color;
  }

  /* стили для активной радиокнопки (при нажатии на неё) */
  &:not(:disabled):active + label::before {
    background-color: $light-main-color;
    border-color: $light-main-color;
  }

  /* стили для радиокнопки, находящейся в фокусе */
  &:focus + label::before {
    box-shadow: 0 0 0 0.2rem $transparent-main-color;
  }

  /* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
  &:focus:not(:checked) + label::before {
    border-color: $light-main-color;
  }

  /* стили для радиокнопки, находящейся в состоянии checked */
  &:checked + label::before {
    border-color: $main-color;
    background-color: $main-color;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
  }

  /* стили для радиокнопки, находящейся в состоянии disabled */
  &:disabled + label::before {
    background-color: #e9ecef;
  }
}

.scrollbar {
  &::-webkit-scrollbar { /* 1 - скроллбар */
    width: 6px;
    height: 4px;
    background-color: $light-main-color;
  }

  &::-webkit-scrollbar-button { /* 2 - кнопка */

  }

  &::-webkit-scrollbar-track { /* 3 - трек */
  }

  &::-webkit-scrollbar-track-piece { /* 4 - видимая часть трека */
  }

  &::-webkit-scrollbar-thumb { /* 5 - ползунок */
    border-radius: 2px;
    background-color: $dark-main-color;
  }

  &::-webkit-scrollbar-corner { /* 6 - уголок */
  }

  &::-webkit-resizer { /* 7 - изменение размеров */
  }

}